<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BackupPath" value="c:\0"/>
    <add key="EncryptionKey" value="feX1t25LS0fAv6353FX6LcDp"/>
    <add key="IncludeDatabases" value="TraviPayLive"/>
    <add key="AzureTableStorageConnecionString" value="UseDevelopmentStorage=true;"/>
    <add key="AzureBlobContainer" value=""/>
    <add key="SQLServerHostname" value=".\"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>