<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821" />
  </configSections>
  <appSettings>
    <add key="BackupPath" value="c:\0\backuptest" />
    <add key="BackupTempPath" value="" />
    <add key="EncryptionKey" value="" />
    <add key="IncludeDatabases" value="" />
    <add key="AzureTableStorageConnecionString" value="UseDevelopmentStorage=true;" />
    <add key="AzureBlobContainer" value="" />
    <add key="SQLServerHostname" value=".\" />
    <add key="DeleteOldBackups" value="true" />
    <add key="AddDateToArchive" value="true"/>

    <add key="FtpUrl" value="ftp://192.168.10.12/Test/"/>
    <add key="FtpUsername" value="admin"/>
    <add key="FtpPassword" value=""/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <!-- Log4net Logging Setup -->
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="LogglyAppender" />
    </root>
    <appender name="LogglyAppender" type="log4net.loggly.LogglyAppender, log4net-loggly">
      <rootUrl value="https://logs-01.loggly.com/" />
      <inputKey value="" />
      <tag value="Matrixon-DailyBackup" />
    </appender>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.15.0" newVersion="1.2.15.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
