<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BackupPath" value="c:\0\backuptest"/>
    <add key="BackupTempPath" value="c:\0\backuptesttemp"/>
    <add key="EncryptionKey" value=""/>
    <add key="IncludeDatabases" value=""/>
    <add key="AzureTableStorageConnecionString" value="UseDevelopmentStorage=true;"/>
    <add key="AzureBlobContainer" value=""/>
    <add key="SQLServerHostname" value=".\"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>